@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    background-color: #0e0922;
    color: #d3d0df;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#interface {
    width: 480px;
    height: 240px;
    background-color: #221b41;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 1px 5px #221b4179, 0px 2px 2px #221b4179;
}

#titulo {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

#titulo i {
    position: relative;
    right: 10px;
}

#numeros {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    margin-top: 40px;
}

#numeros::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #ce6324;
}

#ms {
    font-size: 0.5em;
    position: relative;
    left: 5px;
    top: 10px;
}

#interface .botoes {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    margin-top: 40px;
}

.botoes i {
    cursor: pointer;
}

.botoes i:hover {
    color: #ce6324;
}

.botoes #pausar {
    display: none;
    animation: aparecer 0.3s ease-in-out;
} 

.botoes #parar {
    display: none;
    animation: aparecer 0.3s ease-in-out;
}


@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

#botoesApp {
    width: 480px;
    height: 60px;
    background: #221b41;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0px 1px 5px #221b4179, 0px 2px 2px #221b4179;
}

#botoesApp i {
    cursor: pointer;
}

#botoesApp i:hover {
    color: #ce6324;
}

#infoHora {
    text-align: center;
    margin-top: 20px;
}

#relogio {
    display: none;
}

#temporizador {
    display: none;
}

#temporizador #valores {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#valores {
    font-size: 2em;
}

#valores input {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    border: none;
    background: #0e0922;
    color: #d3d0df;
    font-size: 50px;
    text-align: center;
}

#temporizador #info {
    margin-top: 20px;
    font-size: 1em;
    text-align: center;
}

#temporizador .botoes {
    margin-top: 10px;
}